---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import image1 from '../components/img/foto.png';
---


<header class="flex justify-between w-full items-center py-4 ">
    <a class="text-sm text-gray-300 font-bold">Portafolio</a>
    
</header>